@font-face {
  src: url("/font/bender-bold.woff2") format("woff2"),
    url("/font/bender-bold.woff") format("woff");
  font-family: "Bender";
  font-display: swap;
}

:root {
  --color-text-dark: #2f2f2f;
  --color-text-ingame: #344a6e;
  --color-text-light: #fff;
  --color-title-container: #eeeeeeee;
  --color-glass-panel: #c2c7d2b3;
  --color-text-glass-panel: #808080;
  --color-name-tag: #ffffffe0;
  --color-text-striker: #cc1a25;
  --color-text-special: #006bff;
  --color-text-light-armor: #a70c19;
  --color-text-heavy-armor: #b26d1f;
  --color-text-unarmed: #216f9c;
  --var-footer-height: 7vh;
  --var-app-height: calc(100vh - var(--var-footer-height));
}

//noinspection CssUnknownTarget
body {
  box-sizing: border-box;
  background: url("/image/homescreen/background.webp") no-repeat center;
  background-size: cover;
  font-family: "Microsoft YaHei", "PingFang SC", -apple-system, system-ui,
    "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", BlinkMacSystemFont,
    "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 93vh;
}

body,
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acrylic {
  position: relative;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-image: url("/src/assets/nnnoise.svg");
  background-position: center;
  background-repeat: repeat;
  overflow: hidden;
}

.fill-screen {
  width: 100vw;
  height: var(--main-height, 93vh);
}

.content-wrapper {
  box-shadow: 0.25rem 0.25rem 1rem hsla(0deg, 0%, 0%, 0.25);
  background-color: var(--color-glass-panel);
  padding: 1rem;
  width: 85vw;
  max-width: 1400px;
  height: calc(var(--main-height, 93vh) - 4rem);
  overflow: scroll;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fill-width {
  width: 100%;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rounded {
  border-radius: 0.5rem;
}

footer {
  display: flex;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: var(--var-footer-height);
  color: var(--color-text-dark);
}
