//noinspection CssUnknownTarget
@font-face {
  src: url('/font/bender-bold.woff2') format('woff2'),
    url('/font/bender-bold.woff') format('woff');
  font-family: 'Bender';
  font-display: swap;
}

//noinspection CssUnknownTarget
@font-face {
  src: url('/font/AsapCondensed-BoldItalic.woff2') format('woff2'),
    url('/font/AsapCondensed-BoldItalic.woff') format('woff');
  font-family: 'Asap Condensed';
  font-display: swap;
}

//noinspection CssUnknownTarget
html {
  --color-main-background: #edf4fb;
  --color-text-main: #2f2f2f;
  --color-card-background: #fff;
  --color-text-ingame: #344a6e;
  --color-text-contrast: #fff;
  --color-title-container: #eeeeeeee;
  --color-glass-panel: #f4f7ff42;
  --color-glass-panel-hover: #bcbfc451;
  --color-glass-panel-border: #eff3ff;
  --color-player-avatar-border: #5c606e;
  --color-text-glass-panel: #808080;
  --color-name-tag: #ffffffe0;
  --color-tag-background: #ffffff;
  --color-tag-active-background: #2f2f2f;
  --color-tag-active: #ffffff;
  --color-text-striker: #cc1a25;
  --color-text-special: #006bff;
  --color-text-light-armor: #a70c19;
  --color-text-heavy-armor: #b26d1f;
  --color-text-unarmed: #216f9c;
  --color-switch-track: #fff;
  --color-mobile-nav-background: #ffffffd8;
  --color-mobile-subnav-background: #ffffffb3;
  --color-momotalk-banner-text: #fff;
  --color-momotalk-background: #f19eaa;
  --color-option-button: #fff;
  --color-momotalk-user-reply-background: #e5ebf1;
  --color-momotalk-user-action-border: lightgray;
  --color-momotalk-favor-schedule-background: #fceef2;

  --style-switch-track-shadow: inset 0.2rem 0.2rem 0.35rem #d9d9d9,
    inset -0.15rem -0.15rem 0.3rem #fff;
  --style-switch-texture: linear-gradient(145deg, #c3f0ff, #a4cade);
  --style-switch-shadow: 0.1rem 0.1rem 0.4rem #8aa8ba;
  --style-shadow-shallow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.08);
  --style-shadow-near: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.12);
  --style-shadow-far: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.08);
  --style-shadow-farther: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.25);
  --style-background-image: url('/image/homescreen/background.webp');

  --trigo-param-positive: calc((0.6rem - 1px) / 1.414);
  --trigo-param-negative: calc((0.6rem - 1px) / -1.414);

  color: var(--color-text-main);
}

//noinspection CssUnknownTarget
html[data-theme='dark'] {
  --color-main-background: #343e50;
  --color-text-main: #eee;
  --color-card-background: #2f2f2f;
  --color-text-ingame: #eee;
  --color-text-contrast: #fff;
  --color-title-container: #404040ed;
  --color-glass-panel: #f4f7ff42;
  --color-glass-panel-border: #4b93dc;
  --color-player-avatar-border: #eee;
  --color-text-glass-panel: #eee;
  --color-name-tag: #454545e0;
  --color-tag-background: #494949;
  --color-tag-active-background: #000;
  --color-tag-active: #eee;
  --color-switch-track: #333;
  --color-mobile-nav-background: #343e50d8;
  --color-mobile-subnav-background: #343e50b3;
  --color-momotalk-banner-text: #333;
  --color-momotalk-background: #b77b84;
  --color-option-button: #333;
  --color-momotalk-user-reply-background: #39526a;
  --color-momotalk-user-action-border: #333;
  --color-momotalk-favor-schedule-background: #593640;

  --style-switch-track-shadow: inset 0.2rem 0.2rem 0.35rem #262626,
    inset -0.15rem -0.15rem 0.3rem #000;
  --style-switch-texture: linear-gradient(145deg, #b8b8b8, #616161);
  --style-switch-shadow: 0.1rem 0.1rem 0.4rem #616161;
  --style-background-image: url('/image/homescreen/background-dark.webp');
}

//noinspection CssUnknownTarget
body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  background: var(--style-background-image) no-repeat center;
  background-size: cover;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  font-family: 'Microsoft YaHei', 'PingFang SC', -apple-system, system-ui,
    'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', BlinkMacSystemFont,
    'Helvetica Neue', 'Hiragino Sans GB', Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  grid-column-gap: 1.5rem;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-areas: 'navigation-pane main';
  flex: 1;
  justify-items: stretch;
  box-shadow: var(--style-shadow-shallow);
  border: 0.2rem solid var(--color-glass-panel-border);
  border-radius: 2rem;
  background-color: var(--color-glass-panel);
  padding: 1rem;
}

.acrylic {
  position: relative;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-image: url('/src/assets/nnnoise.svg');
  background-position: center;
  background-repeat: repeat;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fill-width {
  width: 100%;
}

.fill-screen {
  flex: 1;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rounded-small {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}

.rounded-medium {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
}

.rounded-large {
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
}

.shadow-near {
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.12);
}

.shadow-far {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.08);
}

.shadow-farther {
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.25);
}

// 使用幼圆字体，但是幼圆英文丑的一批，需要之后改进
.youyuan {
  font-family: 'YouYuan', 'Microsoft YaHei', 'PingFang SC', -apple-system,
    system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans',
    BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans GB', Arial, sans-serif;
}

.username {
  display: inline-flex;
  border: none;
  background: transparent;
  max-width: 8rem;
  color: var(--color-text-main);
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  #app {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: var(--style-shadow-shallow);
    border: none;
    border-radius: 0;
    background-color: var(--color-glass-panel);
    padding: 0;
  }
}
