:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  transition: border-color 0.25s;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #1a1a1a;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-size: 1em;
  font-family: inherit;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1280px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
